<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.LprodMapper">
	<select id="selectLprodList" resultType="lprodVO"><!-- 조회 결과 타입은 레코드 하나 기준 -->
		SELECT LPROD_GU, LPROD_NAME
		FROM LPROD
	</select>
</mapper>